{{#each this}}
 <div class="photo-card">
    <a class='gallery__item' href="{{largeImageURL}}">
        <img class='gallery__image' src="{{webformatURL}}" alt="${tags}" title="" />
        <div class="gallery__info">
            <p class="gallery__description">
                <i class="material-icons">thumb_up</i>
                <span class="gallery__value">{{likes}}</span>
            </p>
            <p class="gallery__description">
                <i class="material-icons">visibility</i>
                <span class="gallery__value">{{views}}</span>
            </p>
            <p class="gallery__description">
                <i class="material-icons">comment</i>
                <span class="gallery__value">{{comments}}</span>
            </p>
            <p class="gallery__description">
                <i class="material-icons">cloud_download</i>
                <span class="gallery__value">{{downloads}}</span>
            </p>
        </div>
    </a>
</div>
{{/each}}
